EEHPC/
Slides/
Textbook/
Note/
Homework/**/report*.pdf
Homework/HW1/code/data/
Homework/HW1/code/run
Homework/HW2/code/00_TESTBED/data/
Homework/HW2/code/**/run
Homework/HW2/code/**/*.log
Homework/HW3/code/**/run
Homework/HW4/code/data/
Homework/HW4/code/run
Homework/HW4/code/**/*.log
Lab/Lab2/code/**/run
Lab/Lab3/code/result_clean.log
Lab/Lab3/code/result_make.log
Lab/Lab3/code/**/run
Final_Project/*.zip
Final_Project/*.pdf
Final_Project/FP_*/**/data
Final_Project/FP_*/**/run
*.xlsx
*.docx
*.csv
*.gz